<h3 class="title is-4 has-text-centered">Employment History</h3>

<div class="columns">
    <div class="column">
        <p class="subtitle">Linux Systems Engineer, Rackspace</p>
    </div>
    <div class="column has-text-right">
        <p class="subtitle">2014-present, San Antonio, TX</p>
    </div>
</div>

<div class="content">
    <ul>
        <li>Created and maintained RPM packages for IUS, EPEL, and Fedora.</li>
        <li>Maintained build and repository infrastructure for the IUS project.</li>
        <li>Added new packages to IUS and EPEL based on customer and coworker request.</li>
        <li>Enabled better customer outcomes by having necessary software packaged and available.</li>
        <li>Enabled customers to use newer versions of select RHEL packages.</li>
        <li>Expanded documentation for IUS project.</li>
        <li>Collaborated with upstream projects to report and resolve bugs in packaged software.</li>
        <li>Created <a href="https://github.com/carlwgeorge/uvalde">uvalde</a>, a yum repository curation tool.</li>
        <li>Created <a href="https://github.com/carlwgeorge/repomd">repomd</a>, a Python library for parsing yum repository metadata.</li>
        <li>Created <a href="https://github.com/iuscommunity/umirr">umirr</a>, a mirror manager application.</li>
        <li>Created a Drone CI plugin for <a href="https://github.com/carlwgeorge/drone-rpmbuild">automated RPM builds in docker containers</a>.</li>
        <li>Tailored JIRA instance to reflect workflow, implementing custom issue types, workflows, statuses, and more.</li>
        <li>Wrangled issues in Bugzilla, GitHub, and JIRA as appropriate.</li>
    </ul>
</div>

<div class="columns">
    <div class="column">
        <p class="subtitle">Linux Systems Administrator, Rackspace</p>
    </div>
    <div class="column has-text-right">
        <p class="subtitle">2011-2014, San Antonio, TX</p>
    </div>
</div>

<div class="content">
    <ul>
        <li>Triaged emergency situations for multiple customers during after-hours shift.</li>
        <li>Routinely performed senior level work as an entry level administrator.</li>
        <li>Promoted ahead of peers based on multiple strong performance reviews.</li>
        <li>Shared knowledge with peers by contributing to the company wiki.</li>
        <li>Mentored other administrators with formal and informal training to improve the overall technical ability of the team.</li>
        <li>Balanced workload between ticket queue, phone calls, escalations, and internal projects.</li>
        <li>Helped customers architect long-term solutions to complex issues.</li>
        <li>Developed custom Bash and Python utilities for customers to automate repetitive tasks.</li>
    </ul>
</div>

<div class="columns">
    <div class="column">
        <p class="subtitle">Electronics Communication Systems Maintainer, U.S. Army</p>
    </div>
    <div class="column has-text-right">
        <p class="subtitle">2007-2011, Fort Sam Houston, TX</p>
    </div>
</div>
<div class="content">
    <ul>
        <li>Lead projects to install ethernet and fiber optic networks.</li>
        <li>Coordinated with contractors to provide network, domain, and account administration.</li>
        <li>Established standard operating procedure for unit’s wireless communication equipment, providing guidelines for configuration and issue of satellite phones, radios, and cellular phones.</li>
        <li>Participated in search and rescue operation for a missing heat stroke victim during training operations.</li>
        <li>Assisted in mobilization effort for the 2010 Haiti earthquake relief effort.</li>
    </ul>
</div>

<div class="columns">
    <div class="column">
        <p class="subtitle">Unmanned Aerial Vehicle Technician, U.S. Army</p>
    </div>
    <div class="column has-text-right">
        <p class="subtitle">2005-2007, Fort Hood, TX and Camp Taji, Iraq</p>
    </div>
</div>
<div class="content">
    <ul>
        <li>Part of a maintenance team that ensured safe operation for over 18,500 combat flight hours of Shadow Unmanned Aerial Vehicle system.</li>
        <li>Performed troubleshooting and routine maintenance of the Ground Control Station, including hardware maintenance, software patching, and network troubleshooting between Solaris and Windows.</li>
        <li>Selected as a Quality Control Manager over more experienced peers due to high level of proficiency.</li>
        <li>Trained multiple Technical Inspectors to assist with enforcing standard operating procedures.</li>
        <li>Optimized unit’s electronic maintenance system for technical accuracy and efficiency.  Changes were later adopted by entire U.S. Army.</li>
    </ul>
</div>

<div class="columns">
    <div class="column">
        <p class="subtitle">Intelligence Systems Maintainer, U.S. Army</p>
    </div>
    <div class="column has-text-right">
        <p class="subtitle">2003-2004, Fort Huachuca, AZ</p>
    </div>
</div>
<div class="content">
    <ul>
        <li>Trained and tested on concepts including troubleshooting theory, analog and digital electronics, radio communications, computer architecture, operating systems fundamentals, and network infrastructure.</li>
        <li>Diagnosed malfunctions in electronic warfare systems and equipment located at fixed stations and remote sites.</li>
        <li>Lead maintenance team in field exercises involving fault isolation, repair, and system reconfiguration.</li>
        <li>Graduated first in class in both Advanced Individual Training and Additional Skill Identifier Training.</li>
        <li>Earned Top Secret clearance to permit access to work on any system in the Army.</li>
    </ul>
</div>
