<div class="columns is-vcentered has-text-weight-semibold">
    <div class="column is-offset-1 is-4">
        <h3 class="title is-4">Primary Skills</h3>
    </div>
    <div class="column is-4">
        <ul>
            <li>RPM Packaging</li>
            <li>Yum repository curation</li>
            <li>Ansible automation</li>
            <li>Webserver configuration</li>
            <li>Database management</li>
        <ul>
    </div>
    <div class="column">
        <ul>
            <li>Containers</li>
            <li>Python programming</li>
            <li>Bash scripting</li>
            <li>Systemd management</li>
            <li>Disk partitioning</li>
        </ul>
    </div>
</div>
