<h3 class="title is-4 has-text-centered">Primary Skills</h3>
<div class="columns has-text-weight-semibold">
    <div class="column is-4-tablet is-offset-2-tablet">
        <ul>
            <li>RPM Packaging</li>
            <li>Yum repository curation</li>
            <li>Webserver configuration</li>
            <li>Database management</li>
            <li>Containers</li>
        <ul>
    </div>
    <div class="column is-4-tablet has-text-right-tablet">
        <ul>
            <li>Python programming</li>
            <li>Bash scripting</li>
            <li>Disk partitioning</li>
            <li>Systemd unit files</li>
            <li>Ansible automation</li>
        </ul>
    </div>
</div>
