<h3 class="title is-4 has-text-centered">Training and Education</h3>

<div class="content">
    <ul>
        <li>2015 - Linux Foundation Certified Engineer (<strong>LFCE</strong>), certificate LFCE-1500-0066-0200</li>
        <li>2015 - Linux Foundation Certified System Administrator (<strong>LFCS</strong>), certificate LFCS-1500-0330-0100</li>
        <li>2011 - Red Hat Certified Engineer (<strong>RHCE</strong>) for RHEL6, certificate <a href="https://www.redhat.com/rhtapps/certification/verify/?certId=111-178-778">111-178-778</a></li>
        <li>2011 - Red Hat Certified System Administrator (<strong>RHCSA</strong>) for RHEL6, certificate <a href="https://www.redhat.com/rhtapps/certification/verify/?certId=111-178-778">111-178-778</a></li>
        <li>2007 - U.S. Army Professional Leadership Development Course (<strong>PLDC</strong>)</li>
        <li>2004 - U.S. Army Unmanned Aerial Vehicles (<strong>UAV</strong>) System Maintainer Course</li>
        <li>2004 - U.S. Army Electronic Warfare Systems Maintainer Integrator (<strong>33W</strong>) School</li>
    </ul>
</div>
