<!doctype html>
<html lang="en">

    <head>
        {% include head.html %}
    </head>

    <body>

        <main>

            <section class="section">
                <div class="container">
                    <div class="columns is-centered">
                        <div class="column is-12-tablet is-10-desktop">

                            {% include header.html %}

                            <div class="is-divider"></div>

                            {% include skills.html %}

                            <div class="is-divider"></div>

                            {% include history.html %}

                            <div class="is-divider"></div>

                            {% include training.html %}

                        </div> <!-- column -->
                    </div> <!-- columns -->
                </div> <!-- container -->
            </section>

        </main>

        <footer class="footer">
            {% include footer.html %}
        </footer>

    </body>

</html>
